#Box {
   width: 100%;
   margin: 0 auto;
   height: 250px;
 }
 .Box1,
 .Box2
 {
   float: left;
   width: 50%;
 }
 .box {
   height: 250px;
   line-height: 200px;
 }
 .Box1 {
   background-color: rgb(192, 177, 44);
 }
 .Box2 {
   background-color: rgb(14, 193, 14);
 }